Repository workwsl/pc-template-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

chore: upgrade react and antd
  .husky/commit-msg
  README.md
  package-lock.json
  package.json
  src/pages/about/index.tsx
  src/pages/home/index.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

chore: update husky pre-commit hook
  .husky/pre-commit
Due: none

docs: 更新 Cursor 规则文件，补充路由跳转规范
  .cursor/rules/page-development.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/react-development.mdc
  .cursor/rules/utils-guidelines.mdc
  src/App.tsx
  src/router/navigate.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

docs(rules): 更新规则文件以匹配 PC 端项目配置
  .cursor/rules/api-development.mdc
  .cursor/rules/page-development.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/react-development.mdc
  .cursor/rules/style-guidelines.mdc
  .cursor/rules/utils-guidelines.mdc
  src/router/navigate.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

docs: 更新项目规则文件，适配 PC 端 React 19 + antd 6
  src/App.tsx
  src/utils/request.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Create main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Update vite.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat: integrate TailwindCSS v4 into project
  .cursor/rules/README.md
  .cursor/rules/code-standards.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/react-development.mdc
  .cursor/rules/style-guidelines.mdc
  README.md
  docs/FORMAT_CONFIG.md
  docs/PAGE_GUIDE.md
  docs/PROJECT_GUIDE.md
  docs/QUICK_START.md
  docs/REACT_GUIDE.md
  docs/README.md
  package-lock.json
  package.json
  postcss.config.js
  src/App.tsx
  src/constants/index.ts
  src/main.tsx
  src/styles/global.css
  src/styles/index.less
  src/styles/reset.less
  src/styles/variables.less
  tailwind.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

chore(cursor): layered rules, skills, and AGENTS (React 18 + antd5)
  .cursor/rules/README.md
  .cursor/rules/ai.mdc
  .cursor/rules/api-development.mdc
  .cursor/rules/basic/basic.mdc
  .cursor/rules/basic/code-names.mdc
  .cursor/rules/basic/code-quality.mdc
  .cursor/rules/basic/comment.mdc
  .cursor/rules/basic/git-commit.mdc
  .cursor/rules/basic/lint.mdc
  .cursor/rules/basic/project-overview.mdc
  .cursor/rules/basic/react.mdc
  .cursor/rules/basic/style.mdc
  .cursor/rules/basic/ts.mdc
  .cursor/rules/code-standards.mdc
  .cursor/rules/git-commit.mdc
  .cursor/rules/modules/components.mdc
  .cursor/rules/modules/constants.mdc
  .cursor/rules/modules/hooks.mdc
  .cursor/rules/modules/pages.mdc
  .cursor/rules/modules/route.mdc
  .cursor/rules/modules/service.mdc
  .cursor/rules/modules/store.mdc
  .cursor/rules/modules/utils.mdc
  .cursor/rules/page-development.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/react-development.mdc
  .cursor/rules/state-management.mdc
  .cursor/rules/style-guidelines.mdc
  .cursor/rules/utils-guidelines.mdc
  .cursor/skills/api-gen/SKILL.md
  .cursor/skills/api-gen/reference.md
  .cursor/skills/api-gen/scripts/openapi-diff.sh
  .cursor/skills/api-gen/templates/dependency-report.md
  .cursor/skills/code-review/SKILL.md
  .cursor/skills/code-review/reference.md
  .cursor/skills/commit/SKILL.md
  AGENTS.md
  README.md
Due: prettier --write

docs: branch worktree note and AGENTS branch scope for main
  AGENTS.md
  README.md
Due: prettier --write

chore(cursor): layered rules, skills, and AGENTS (React 19 + antd6)
  .cursor/rules/README.md
  .cursor/rules/ai.mdc
  .cursor/rules/api-development.mdc
  .cursor/rules/basic/basic.mdc
  .cursor/rules/basic/code-names.mdc
  .cursor/rules/basic/code-quality.mdc
  .cursor/rules/basic/comment.mdc
  .cursor/rules/basic/git-commit.mdc
  .cursor/rules/basic/lint.mdc
  .cursor/rules/basic/project-overview.mdc
  .cursor/rules/basic/react.mdc
  .cursor/rules/basic/style.mdc
  .cursor/rules/basic/ts.mdc
  .cursor/rules/code-standards.mdc
  .cursor/rules/git-commit.mdc
  .cursor/rules/modules/components.mdc
  .cursor/rules/modules/constants.mdc
  .cursor/rules/modules/hooks.mdc
  .cursor/rules/modules/pages.mdc
  .cursor/rules/modules/route.mdc
  .cursor/rules/modules/service.mdc
  .cursor/rules/modules/store.mdc
  .cursor/rules/modules/utils.mdc
  .cursor/rules/page-development.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/react-development.mdc
  .cursor/rules/state-management.mdc
  .cursor/rules/style-guidelines.mdc
  .cursor/rules/utils-guidelines.mdc
  .cursor/skills/api-gen/SKILL.md
  .cursor/skills/api-gen/reference.md
  .cursor/skills/api-gen/scripts/openapi-diff.sh
  .cursor/skills/api-gen/templates/dependency-report.md
  .cursor/skills/code-review/SKILL.md
  .cursor/skills/code-review/reference.md
  .cursor/skills/commit/SKILL.md
  AGENTS.md
  README.md
Due: prettier --write

docs: 澄清 react19-antd6 分支名与 worktree 目录对照
  AGENTS.md
  README.md
Due: prettier --write

docs(build): 对齐 main 的部署 base，修正 README 示例与样式说明
  README.md
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

docs(agents): 补充 worktree 目录与分支名说明
  AGENTS.md
Due: prettier --write

chore(skills): api-gen 增加 disable-model-invocation 配置
  .cursor/skills/api-gen/SKILL.md
Due: prettier --write

feat(skills): 新增 api-review-upsert 与 OpenAPI 基线整段合并
  .cursor/skills/api-review-upsert/SKILL.md
  .cursor/skills/api-review-upsert/reference.md
  .cursor/skills/api-review-upsert/scripts/openapi-merge-upsert.sh
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{less,css})) or (any of: *.{json,md})
  bash -c 'tsc --noEmit': any of: *.{js,jsx,ts,tsx}
